{% extends 'app/base.html' %}
{% load humanize %}
{% block contenido %}
<br><br><br>
<div class="card">

    <div class="card-body">
        <h2>Listado de Productos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Nuevo</th>
                <th>Opciones</th>
                
            </tr>
            {% for i in lista %}
                <tr>
                    <td>{{ i.nombre | title}}</td>
                    <td>{{ i.precio | intcomma }}</td>
                    <td>{{ i.marca | title }}</td>
                    <td>
                        {% if i.nuevo %}
                        Si
                        {% else %}
                        No
                        {% endif%}
                    </td>
                    <td>
                        <a href="{% url 'modificar' i.pk %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminar' i.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        
        </table>
    </div>
</div>

{% endblock contenido %}